# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
.dist/

# Build
build/
__pycache__/
node_modules
.env
pnpm-lock.yaml